<div class="col-md-6 offset-md-3"><br><br>

    <h3> View Employee </h3>

    <div class="container">

        <div>

            <label> <b>First Name :</b> {{employees.firstName}} </label><br><br>
            <label> <b>Last Name :</b> {{employees.lastName}} </label><br><br>
            <label> <b>Email Id :</b> {{employees.emailId}} </label><br><br>
            <label> <b>Id :</b> {{employees.id}} </label><br><br>
           
        </div>

        <button class="btn btn-success" type="submit" (click)="closeEmployee()"> Done </button>

    </div>
</div>
